.image__announce{
    height:60px;
    margin: auto 20px;
    float:left;
}
.announce-item{
    margin: 15px 0;
    align-items: right;
    display: flex;
}
.tbl__announce td{
    text-align: left;
    color:var(--text-main-color);
    
}
.title{
    font-size: 18px;
    font-weight: 600;
    padding-right:20px;
}
.content{
    padding-right:20px;
}
.date{
    font-size: 13px;
    font-style: italic;
}
