.content{
    margin: 50px 100px 30px 190px;
    text-align: justify;
    color: var(--text-main-color);
    font-size: 16px;
    height:100%;
    
}
.step{
    margin: 20px 0px 20px 0px;
}
.step tr{
    margin-bottom: 10px;
}
.step_content{
    text-align: top;
}
.title{
    color:#f56476;
}
.img_step{
    height:400px;
    max-height: 100%;
}
