/* css for header */
.container_homepage{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* css for slider */
.carousle slide{
    
  height: 32rem;
  position: relative;
  overflow: hidden;
}
/* css for new product */
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-product{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.idol{
    width: 1440px;
    height: 516px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#thumb > img {
    max-width: 100%; height: 516px;  float: left;}
#thumb > img:hover {
    cursor: pointer; opacity: 0.5;
}
#info {
    max-width: 100%; height: 516px;
    margin-left: 20px; display: flex; flex-wrap: wrap; justify-content: left; text-align: justify;
}
#info > div {
    width: 100%; margin-bottom: 10px;
}
#preorder >ul{
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#preorder >ul >li{
    justify-items: auto;
}
.btn{
    background: var(--hover-menu1-color);
    color:var(--hover-text-color);
    border:1px solid var(--hover-text-color);
    font-weight:600; 
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    width:120px; 
    height:40px; 
}
/* product */
.product__title{
    color: var(--text-main-color);
    font-size: 16px;
    font-weight:500;
}
.img__content{
    padding:0 8px;
}
.cmt__info{
    padding:0 15px;
}
.cmt__container{
    margin: 10px 0 10px 100px; 
}
.product__content{
    color: var(--text-main-color);
    font-size: 16px;
    padding:0 15px;
}
.product__content2{
   
    padding:15px 15px;
}
.product__content3{
   
    padding:0 15px;
}
.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.icon{
    color:#6F7680;
}
.grid{
    width:1200px;
    max-width:100%;
    margin: 0 auto;
}
.grid__full-width{
    width:100%;
}
.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    text-align: center;
}
.grid__column-12{
    padding-left: 12px;
    padding-right: 12px;
    width:100%;
}
.grid__column-2-4{
    padding-left: 10px;
    padding-right: 10px;
    width:20%;
}
.sub__title{
  display: inline-flex;
  

}
.home-product {
    margin-bottom: 10px;
  }
  .home-product-item {
    display: block;
    position: relative;
    height: 100%;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow:0 9px 10px 0 rgba(214, 214, 214, 0.425);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
  }

  .home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
  }
  .home-product-item__img {
    height:120px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .home-product-item__name {
    font-size: 16px;
    color: var(--text-main-color);
    margin-top: 115px;
  }
  .home-product-item__price {
    display: flex;
    margin-left: 5px;
    align-items: baseline;
  }
  .home-product-item__price-old {
    font-size: 13px;
    text-decoration: line-through;
    color:var(--text-main-color);
    margin: 10px 0 0 10px;
  }
  .home-product-item__price-current {
    font-size: 20px;
    margin-left: 10px;
    font-weight:450;
    color: var(--price-color);
  }
  .home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
  }
  .home-product-item__like {
    font-size: 13px;
  }
  
  .home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
  }
  
  .home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
  }
  
  i.home-product-item__like-icon-fill {
    color:var(--price-color);
    display:none;
  }
  i.home-product-item__like-icon-empty{
    color:var(--text-main-color);
  }
  
  .home-product-item__rating {
    display: flex;
    align-items:center;
    margin:-1px 5px 0 auto ;
    font-size: 11px;
  }
  .home-product-item__rating2 {
    display: flex;
    align-items:baseline;
    margin:-1px 5px 0 auto ;
    font-size: 11px;
  }
  
  .home-product-item__star--gold {
    color: var(--yellow);
  }
  
  .home-product-item__sold {
    font-size: 13px;
    color: var(--text-main-color);
    margin-left: 5px;
  }
  .home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.92);
    border-top-right-radius: 2px;
  }
  
  .home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.92);
    border-color: transparent currentColor transparent currentColor;
  }
  
  .home-product-item__sale-off-percent {
    color: var(--price-color);
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 2px;
    
  }
  .home-product-item__sale-off-label {
    font-size: 13px;
    position: relative;
    top: -8px;
    font-weight: 600;
    color: var(--text-sub-color);
  }
  
  .home-product__pagination {
    margin: 40px 0 30px 700px;
    padding-left: 0;
    
  }
  .pagination-item__link{
    color: var(--text-main-color);
    margin-left: 10px;
    font-size: 16px;
  }
  .pagination-item__link:hover{
    color: var(--hover-color);
    margin-left: 10px;
    font-size: 16px;
  }
.product-link:hover{
    text-decoration: none;
  }

  /* features */
  .heading{
    text-align: center;
    margin: 3rem 0;
  }
  .features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  }
  .features .box-container .box{
    padding:1rem 0;
    background:#fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--shadow);

  }
  .features .box-container .box:hover{
    outline: var(--outline-hover);
    transform: translateY(-1rem);
    box-shadow: var(--shadow-hover);
  }
  .features .box-container .box img{
    margin:1rem 0;
    height: 15rem;
  }
  .features .box-container .box h3{
    font-size: 2rem;
    line-height: 1.8;
    
  }



  /* IDOL KPOP */
.slide-container {
    width: 50%;
    height:85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.idol_kpop{
    align-items: center;
    
}

.image-slider{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.img{
    position: relative;
    width: 240px;
    height: 370px;
    transition: 0.5s;
}

.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.5s;
    background-color: rgba(67, 67, 151, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
    width:380px;
    height: 585px;
    background-color: transparent;
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
    width:380px;
    height: 585px;
    background-color: transparent;
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
    width:380px;
    height: 585px;
    background-color: transparent;
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~.image-slider #button-4{
    width:380px;
    height: 585px;
    background-color: transparent;
}

#slider-span1:target ~.image-slider{
    left:20%;
}
#slider-span2:target ~.image-slider{
    left:0%;
}
#slider-span3:target ~.image-slider{
    left:-20%;
}
#slider-span4:target ~.image-slider{
  left:-40%;
}

/* ==product - grid - 3 */
.product-grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 2rem 0;
}
.product-grid-box{
  position:relative;
  height: 210px;
  border-radius: 10px;
  overflow:hidden;
  display: flex;
  justify-content: flex-end;
}
.product-grid-text{
  position:absolute;
  left:14%;
  top:50%;
  transform: translate(-14%,-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-grid-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  object-position: center right;
}


/* about us */
.about .row{
  margin: 1rem;
  display: flex;
  align-items: center;
  gap:2rem;
  flex-wrap: wrap;
  padding:2rem 0;
  padding-bottom: 3rem;

}

.about .row .video-container{
  flex:1 1 40rem;
  position: relative;
}

.about .row .video-container video{
  width:100%;
  border:1.5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  height: 100%;
  object-fit: cover;
}

.about .row .video-container h3{
  position: absolute;
  top:50%; transform: translateY(-50%);
  font-size: 3rem;
  background:#fff;
  width:100%;
  padding:1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about .row .content{
  flex:1 1 40rem;
}

.about .row .content h3{
  font-size: 3rem;
  color:#333;
  margin-right: 2rem;
}

.about .row .content p{
  font-size: 16px;
  color:#999;
  padding:.5rem 0;
  padding-top: 1rem;
  text-align: justify;
  margin-right: 3rem;
  line-height: 1.5;
}

/* đăng ký newsletter */
.container1{
  background: #FCD3F3;
  padding: 100px 40px;
  text-align: center;
  color: white;
}
.container1 p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 15px;
  font-weight: 300;
}
.container1 h1{
  color: #2f3542;
}
.email-box{
  height: 40px;
  justify-content: center;
  display: flex; /*its better to use inline-flex*/
}
.email-box i{
  background: #2f3542;
  width: 40px;
  line-height: 40px;
}
.tbox,.btn{
  border: none;
  outline: none;
}
.tbox{
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
  width: 260px;
  padding: 0 10px;
}
.btn{
  background: #2f3542;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

/* mua ngay */
.btn_mua{
  background: var(--hover-menu1-color);
  color:var(--hover-text-color);
  border:1px solid var(--hover-text-color);
  font-weight:600; 
  border-radius: 30px;
  opacity: 1;
  transition: 0.3s all; 
  outline:none;
  width:120px; 
  height:40px; 
}
.btn_mua:focus{
  outline:none; 
}
.btn_mua:hover{
  background: var(--hover-text-color);
  color:var(--text-sub-color);
  font-weight:600; 
  border-radius: 30px;
  opacity: 1;
  transition: 0.3s all; 
  outline:none;
  border:0;
  width:120px; 
  height:40px; 
}
.content{
  font-size:16px;
}

.slider{
  position: relative;
  background: #000116;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #FF9E8F;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}

.blog{
  align-items: center;
}