body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --text-main-color: #272F40;
    --text-sub-color: white;
    --hover-color: #FF9E8F;
    --hover-text-color: #973aa8; 
    --hover-menu1-color: #FCD3F3;
    --hover-menu2-color: #FFEED9;
    --light-purple: #FFEBFB; 
    --header-with-search-height:50px; 
    --price-color: #F80808;
    --orange: #FF7917;
    --yellow: #FFD43E; 
    }
p{
    color:var(--text-main-color);
    margin:10px 0;
}
.header{
    background-color: white;
    height:170px;    
    box-shadow:0 4px 25px 0 rgba(214, 214, 214, 0.425);  
    position:sticky; 
    z-index: 1;
}

.header__navbar{
    display:flex; 
    justify-content: space-between;  
  
}
.header__navbar1{
    display:flex; 
    justify-content: space-between;  
    height:35px;  
    width:100%; 
    background:#272F40;
    align-items: flex-start; 
}
.header__navbar-icon{
    list-style-type: none;
    display: inline-block;
    margin: 0 7px;
    min-width: 60px;
    position: relative;
}
.header__navbar ul{
    display:flex;  
    list-style-type:none;
}
.header__navbar ul .info{
    font-size: 13px;
    margin: -3px auto 0;
    display: block;
    text-align: center;
    
}
.header__navbar-list{
    list-style:none;
    padding: 0 20px;
}
.header__navbar-item{
    margin: 6px; 
}
.header__navbar-item,
.header__navbar-item-link{
    display:inline-block; 
    font-size: 13px;
    color: var(--text-sub-color);
    text-decoration: none;
}
.header__navbar-item-link:hover {
    color: var(--hover-color) ;
    text-decoration: none;
    cursor:pointer; 
}

.header__navbar-icon-link{
    color:var(--text-sub-color); 
    padding:5px;
}
.header__navbar-icon-link2{
    color:var(--text-main-color); 
    padding:0; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__navbar-icon-link2:hover {
    color: var(--hover-color) ;
    text-decoration: none;
    cursor:pointer; 
}
.header__navbar-icon-link:hover{
    color: var(--hover-color); 
}
.container{
    margin:40px;
}

.grid2{
    width: 1200px;
    max-width:100%;
    margin:0 auto;    
}
.grid2__full-width{
    width:100%;
}
.grid2__row{
    display:flex;
    flex-wrap: wrap;
}
.grid2__column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.header-with-search{
    height:var(--header-with-search-height);
    display:flex;
    align-items: center;
    margin:20px 0;
    padding: 0 15px;
    
}
.header__search-bar{
    width: 70%;
    height: 35px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 10px;  
    margin: 0 0 0 30px;
 
}
.header__search-bar input{
    background: transparent;
    flex:1;
    border:0;
    outline: none;
    padding: 24px 10px;
    font-size: 13px;
    color: var(--text-main-color) ;
}
.header__search-bar-icon{
    color:var(--text-main-color); 
}
.header__search-bar button {
    border:0;
    border-radius:50%;
    width:30px;
    height:30px;
    background:transparent;
    cursor: pointer;  
}
.header__menu-item{
    position:relative;
}
.header__menu-list{
    list-style:none;
    position:relative;
    display:flex;  
    justify-content: space-between;  
    margin: 10px 20px; 
    padding: 0 10px; 
}
.header__menu-item-link{
    color:var(--text-main-color);
    font-size: 16px;
    display:block;
    font-weight:medium;
    padding:.4em 6px;
}
.header__menu-item-link:hover{
    color:var(--hover-text-color);
    background-color: var(--hover-menu1-color);
    cursor:pointer; 
    text-decoration: none;
     
}
.header__menu-list2{
    position:absolute;
    display:none;
    width:10em;
    background-color: white;
} 
.header__menu-item:hover .header__menu-list2{
    color:var(--text-main-color);
    font-size: 16px;
    display:block;
}
.header__menu-item2{
    list-style-type: none;
}
.header__menu-item-link2{
    color:var(--text-main-color); 
    text-decoration: none;
    display:block;
    padding:.4em 6px;
    
}
.header__menu-item-link2:hover{
    color:var(--hover-color);
    background-color: var(--hover-menu2-color);
    cursor:pointer; 
    text-decoration: none;
}
.btn__social-login{
	text-decoration: none;
}
.footer{
    box-shadow:0 -4px 25px 0 rgba(214, 214, 214, 0.425);
}
.footer__logo{
    padding:15px 0 0 0;
}
.footer__heading{
    text-align: left;
    padding: 20px 0 0 0 ;
    color:var(--text-main-color);
}
.footer-list{
    padding-left: 0;
    list-style:none;
}

.footer-item-link{
    text-decoration: none;
    font-size: 16px;
    padding: 2px 0;
    display:block; 
    color:var(--text-main-color);
}
.footer-item-link:hover{
    text-decoration:underline;
    color:var(--text-main-color);
}
.footer__email{
    width: 70%;
    height: 35px;
    border: solid 1px #272F40;
    display: flex;
    align-items: center;
    margin: 15px 0; 
    padding: 10px;  
}
.footer__email input{
    background:transparent;
    border:0;
    outline: none;
    color:var(--text-main-color);
    font-size: 13px;
}
.footer__email-icon{
    color:var(--text-main-color); 
}
.footer__email button {
    border:0;
    outline: none;
    width:30px;
    height:30px;
    background:transparent;
    cursor: pointer;  
}

.footer-icon-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 160px 0px 0px;
    gap: 16px;
    border-radius: 0px;
    list-style: none;
} 
.footer-icon{
    color:var(--text-main-color);
}

.cart-number-badge {
    position: relative;
    border-radius: 2.75rem;
    width: 1%;
   
    padding: 0 0.2rem;
    text-align: center;
    height: 10px;
    border: .125rem solid var(--brand-primary-color,#FF9E8F);
    color: var(--brand-primary-color,#FF9E8F);
    background-color: #FF9E8F;
    left: -1.125rem;
    top: -.5rem;
    margin-right: -10px;
}
.cart-number-badge {
    top: -30px;
    left: 165px;
}
.cart-number-badge span {
    font-size: 8px;
    font-weight: 700;
    color: #fff;
    top:-2.5px;
    left: 0px;
    position: absolute;
}
.fa-bag-shopping:before, .fa-shopping-bag:before {
    content: "\f290";
    width: 20px;
    height: auto;
}
/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.categories__text h2 {
		font-size: 26px;
	}
	.header__menu ul li {
		margin-right: 38px;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 2px;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		right: 2px;
	}
	.testimonial__text {
		padding: 130px 45px 175px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header__menu ul li {
		margin-right: 10px;
	}
	.header__nav__option a {
		margin-right: 10px;
	}
	.header__nav__option .price {
		margin-left: 0;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 2px;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		right: 2px;
	}
	.banner__item.banner__item--middle {
		margin-top: 0;
	}
	.banner__item.banner__item--last {
		margin-top: 0;
	}
	.banner__item {
		margin-bottom: 40px;
	}
	.banner {
		padding-bottom: 60px;
	}
	.categories__text {
		margin-bottom: 40px;
	}
	.categories__hot__deal {
		margin-bottom: 40px;
	}
	.instagram__text {
		padding-top: 70px;
	}
	.shop__sidebar {
		padding-right: 0;
		padding-top: 40px;
	}
	.cart__discount {
		margin-top: 40px;
	}
	.testimonial__text {
		padding: 100px 105px 100px;
	}
	.blog__details__share {
		position: relative;
		left: 0;
		margin-bottom: 18px;
	}
	.blog__details__share span {
		margin-bottom: 14px;
		margin-right: 0;
	}
	.blog__details__share ul li {
		margin-bottom: 15px;
		display: inline-block;
		margin-right: 10px;
	}
	.blog__details__share ul li:last-child {
		margin-right: 0;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #111111;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #111111;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 25px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #ffffff;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_arrow {
		color: #111111;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	.offcanvas__option {
		text-align: center;
		margin-bottom: 30px;
	}
	.offcanvas__links {
		display: inline-block;
		margin-right: 25px;
	}
	.offcanvas__links a {
		color: #111111;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-right: 16px;
		display: inline-block;
		font-weight: 600;
	}
	.offcanvas__links a:last-child {
		margin-right: 0;
	}
	.offcanvas__top__hover {
		display: inline-block;
		position: relative;
	}
	.offcanvas__top__hover:hover ul {
		top: 24px;
		opacity: 1;
		visibility: visible;
	}
	.offcanvas__top__hover span {
		color: #111111;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: inline-block;
		cursor: pointer;
		font-weight: 600;
	}
	.offcanvas__top__hover span i {
		font-size: 20px;
		position: relative;
		top: 3px;
		right: 2px;
	}
	.offcanvas__top__hover ul {
		background: #111111;
		display: inline-block;
		padding: 2px 0;
		position: absolute;
		left: 0;
		top: 44px;
		opacity: 0;
		visibility: hidden;
		z-index: 3;
		-webkit-transition: all, 0.3s;
		-o-transition: all, 0.3s;
		transition: all, 0.3s;
	}
	.offcanvas__top__hover ul li {
		list-style: none;
		font-size: 13px;
		color: #ffffff;
		padding: 2px 15px;
		cursor: pointer;
	}
	.offcanvas__nav__option {
		text-align: center;
		margin-bottom: 25px;
	}
	.offcanvas__nav__option a {
		display: inline-block;
		margin-right: 26px;
		position: relative;
	}
	.offcanvas__nav__option a span {
		color: #0d0d0d;
		font-size: 11px;
		position: absolute;
		left: 5px;
		top: 8px;
	}
	.offcanvas__nav__option a:last-child {
		margin-right: 0;
	}
	.offcanvas__nav__option .price {
		font-size: 15px;
		color: #111111;
		font-weight: 700;
		display: inline-block;
		margin-left: -20px;
		position: relative;
		top: 3px;
	}
	.offcanvas__text p {
		color: #111111;
		margin-bottom: 0;
	}
	.header__top {
		display: none;
	}
	.header .container {
		position: relative;
	}
	.header__menu {
		display: none;
	}
	.header__nav__option {
		display: none;
	}
	.search-model-form input {
		width: 100%;
		font-size: 24px;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 15px;
		top: 80%;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		left: 75px;
		right: 0;
	}
	.banner__item.banner__item--middle {
		margin-top: 0;
	}
	.banner__item.banner__item--last {
		margin-top: 0;
	}
	.banner__item {
		margin-bottom: 40px;
	}
	.banner {
		padding-bottom: 60px;
	}
	.banner__item__pic {
		float: none;
	}
	.banner__item__pic img {
		min-width: 100%;
	}
	.banner__item__text {
		max-width: 100%;
		position: relative;
		top: 0;
		padding-top: 22px;
	}
	.filter__controls li {
		margin-right: 15px;
	}
	.categories__text {
		margin-bottom: 40px;
	}
	.categories__hot__deal {
		margin-bottom: 40px;
	}
	.instagram__text {
		padding-top: 70px;
	}
	.instagram__pic__item {
		width: 50%;
	}
	.shop__product__option__right {
		text-align: left;
		padding-top: 20px;
	}
	.shop__sidebar {
		padding-right: 0;
		margin-bottom: 40px;
	}
	.testimonial__text {
		padding: 100px 40px 100px;
	}
	.product__details__breadcrumb {
		text-align: left;
	}
	.product__details__pic .nav-tabs {
		width: auto;
		margin-bottom: 40px;
	}
	.product__details__pic .nav-tabs .nav-item {
		margin-bottom: 0;
		margin-right: 10px;
	}
	.product__details__option__size {
		display: block;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.product__details__last__option h5:before {
		width: 440px;
	}
	.product__details__tab .nav-tabs .nav-item {
		margin-bottom: 15px;
	}
	.shopping__cart__table {
		overflow-y: auto;
	}
	.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
		float: none;
		margin-right: 0;
	}
	.continue__btn {
		text-align: center;
	}
	.continue__btn.update__btn {
		text-align: center;
		margin-top: 20px;
	}
	.cart__discount {
		margin-top: 40px;
	}
	.checkout__order {
		margin-top: 20px;
	}
	.blog__details__share {
		position: relative;
		left: 0;
		margin-bottom: 18px;
	}
	.blog__details__share span {
		margin-bottom: 14px;
		margin-right: 0;
	}
	.blog__details__share ul li {
		margin-bottom: 15px;
		display: inline-block;
		margin-right: 10px;
	}
	.blog__details__share ul li:last-child {
		margin-right: 0;
	}
	.blog__details__author {
		text-align: center;
		margin-bottom: 20px;
	}
	.blog__details__tags {
		text-align: center;
	}
	.contact__text {
		margin-bottom: 40px;
	}
	.hero__social {
		margin-top: 180px;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.cart__total {
		padding: 35px 30px 40px;
	}
	.hero__items {
		height: auto;
		padding-top: 130px;
		padding-bottom: 40px;
	}
	.hero__text h2 {
		font-size: 36px;
		line-height: 48px;
	}
	.hero__social {
		margin-top: 145px;
	}
	.categories__deal__countdown .categories__deal__countdown__timer {
		margin-left: 0;
	}
	.instagram__pic__item {
		width: 100%;
	}
	.testimonial__text {
		padding: 60px 40px 60px;
	}
	.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic {
		width: 100%;
	}
	.product__details__pic .nav-tabs .nav-item {
		margin-bottom: 10px;
		width: calc(33.33% - 10px);
	}
	.product__details__last__option h5:before {
		width: 280px;
	}
	.product__details__cart__option .quantity {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.product__details__last__option h5 span {
		font-size: 16px;
	}
	.blog__hero__text h2 {
		font-size: 36px;
	}
	.categories__text h2 {
		font-size: 30px;
		line-height: 55px;
	}
	.categories__text:before {
		height: 250px;
	}
}
