body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --text-main-color: #272F40;
    --text-sub-color: white;
    --hover-color: #FF9E8F;
    --hover-text-color: #973aa8; 
    --hover-menu1-color: #FCD3F3;
    --hover-menu2-color: #FFEED9;
    --light-purple: #FFEBFB; 
    --header-with-search-height:50px; 
    --price-color: #F80808;
    --orange: #FF7917;
    --yellow: #FFD43E; 
    }
p{
    color:var(--text-main-color);
    margin:10px 0;
}
.header{
    background-color: white;
    height:170px;    
    box-shadow:0 4px 25px 0 rgba(214, 214, 214, 0.425);  
    position:sticky; 
    z-index: 1;
}

.header__navbar{
    display:flex; 
    justify-content: space-between;  
  
}
.header__navbar1{
    display:flex; 
    justify-content: space-between;  
    height:35px;  
    width:100%; 
    background:#272F40;
    align-items: flex-start; 
}
.header__navbar-icon{
    list-style-type: none;
    display: inline-block;
    margin: 0 7px;
    min-width: 60px;
    position: relative;
}
.header__navbar ul{
    display:flex;  
    list-style-type:none;
}
.header__navbar ul .info{
    font-size: 13px;
    margin: -3px auto 0;
    display: block;
    text-align: center;
    
}
.header__navbar-list{
    list-style:none;
    padding: 0 20px;
}
.header__navbar-item{
    margin: 6px; 
}
.header__navbar-item,
.header__navbar-item-link{
    display:inline-block; 
    font-size: 13px;
    color: var(--text-sub-color);
    text-decoration: none;
}
.header__navbar-item-link:hover {
    color: var(--hover-color) ;
    text-decoration: none;
    cursor:pointer; 
}

.header__navbar-icon-link{
    color:var(--text-sub-color); 
    padding:5px;
}
.header__navbar-icon-link2{
    color:var(--text-main-color); 
    padding:0; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__navbar-icon-link2:hover {
    color: var(--hover-color) ;
    text-decoration: none;
    cursor:pointer; 
}
.header__navbar-icon-link:hover{
    color: var(--hover-color); 
}
.container{
    margin:40px;
}

.grid2{
    width: 1200px;
    max-width:100%;
    margin:0 auto;    
}
.grid2__full-width{
    width:100%;
}
.grid2__row{
    display:flex;
    flex-wrap: wrap;
}
.grid2__column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.header-with-search{
    height:var(--header-with-search-height);
    display:flex;
    align-items: center;
    margin:20px 0;
    padding: 0 15px;
    
}
.header__search-bar{
    width: 70%;
    height: 35px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 10px;  
    margin: 0 0 0 30px;
 
}
.header__search-bar input{
    background: transparent;
    flex:1;
    border:0;
    outline: none;
    padding: 24px 10px;
    font-size: 13px;
    color: var(--text-main-color) ;
}
.header__search-bar-icon{
    color:var(--text-main-color); 
}
.header__search-bar button {
    border:0;
    border-radius:50%;
    width:30px;
    height:30px;
    background:transparent;
    cursor: pointer;  
}
.header__menu-item{
    position:relative;
}
.header__menu-list{
    list-style:none;
    position:relative;
    display:flex;  
    justify-content: space-between;  
    margin: 10px 20px; 
    padding: 0 10px; 
}
.header__menu-item-link{
    color:var(--text-main-color);
    font-size: 16px;
    display:block;
    font-weight:medium;
    padding:.4em 6px;
}
.header__menu-item-link:hover{
    color:var(--hover-text-color);
    background-color: var(--hover-menu1-color);
    cursor:pointer; 
    text-decoration: none;
     
}
.header__menu-list2{
    position:absolute;
    display:none;
    width:10em;
    background-color: white;
} 
.header__menu-item:hover .header__menu-list2{
    color:var(--text-main-color);
    font-size: 16px;
    display:block;
}
.header__menu-item2{
    list-style-type: none;
}
.header__menu-item-link2{
    color:var(--text-main-color); 
    text-decoration: none;
    display:block;
    padding:.4em 6px;
    
}
.header__menu-item-link2:hover{
    color:var(--hover-color);
    background-color: var(--hover-menu2-color);
    cursor:pointer; 
    text-decoration: none;
}
.footer{
    box-shadow:0 -4px 25px 0 rgba(214, 214, 214, 0.425);
}
.footer__logo{
    padding:15px 0 0 0;
}
.footer__heading{
    text-align: left;
    padding: 20px 0 0 0 ;
    color:var(--text-main-color);
}
.footer-list{
    padding-left: 0;
    list-style:none;
}

.footer-item-link{
    text-decoration: none;
    font-size: 16px;
    padding: 2px 0;
    display:block; 
    color:var(--text-main-color);
}
.footer-item-link:hover{
    text-decoration:underline;
    color:var(--text-main-color);
}
.footer__email{
    width: 70%;
    height: 35px;
    border: solid 1px #272F40;
    display: flex;
    align-items: center;
    margin: 15px 0; 
    padding: 10px;  
}
.footer__email input{
    background:transparent;
    border:0;
    outline: none;
    color:var(--text-main-color);
    font-size: 13px;
}
.footer__email-icon{
    color:var(--text-main-color); 
}
.footer__email button {
    border:0;
    outline: none;
    width:30px;
    height:30px;
    background:transparent;
    cursor: pointer;  
}

.footer-icon-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 160px 0px 0px;
    gap: 16px;
    border-radius: 0px;
    list-style: none;
} 
.footer-icon{
    color:var(--text-main-color);
}


