.small-img-group{
    display:flex;
    justify-content: space-between; 
    
}
.img-fluid{
    border-radius: 10px;
}
.small-img{
    border-radius: 10px;
}
.small-img-col{
    flex-basis: 24.5%;
    cursor: pointer;
}
.rv__img{
    height:120px;
    cursor:pointer;
}
.title__pro{
    font-size: 22px;
    color:var(--text-main-color);
    font-weight:500;
    margin-bottom:10px;
}
.text{
    color:var(--text-main-color);
    font-size: 16px;
    text-align: justify;
}
h2{
    color:var(--text-main-color);
}
.product select{
    display: block;
    padding: 5px 10 px; 
    height:35px;
}
.product input{
    width:50px;
    height:35px;
    padding-left: 10px; 
    font-size: 16px;
    margin-right:10px; 
}
.product input:focus{
    outline:none; 
}
.btn__product{
    margin:10px 0;
}
.buy-btn{
    background: var(--hover-menu1-color);
    color:var(--hover-text-color);
    border:1px solid var(--hover-text-color);
    font-weight:600; 
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    width:120px; 
    height:40px; 
}
.buy-btn:hover{
    background: var(--hover-text-color);
    color:var(--text-sub-color);
    font-weight:600; 
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    border:0;
    width:120px; 
    height:40px; 
}
.buy-btn:focus{
  outline:none; 
  
}
#add-btn{
    background: var(--hover-menu2-color);
    color:var(--hover-color);
    font-weight:600; 
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    border:1px solid var(--hover-color);
    width:200px; 
    height:40px; 
}
#add-btn:hover{
    background: var(--hover-color);
    color:var(--text-sub-color);
    font-weight:600; 
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    width:200px; 
    height:40px; 
}
#add-btn:focus{
  outline:none;
}
#like-btn{
    background: #E2FFDD;
    color:#50B05A;
    font-weight:600; 
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    border:1px solid #50B05A;
    width:200px; 
    height:40px; 
}
#like-btn:hover{
    background: #50B05A;
    color:var(--text-sub-color);
    font-weight:600; 
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    width:200px; 
    height:40px; 
}
#like-btn a{
    color:#50B05A;
    text-decoration: none;
}
#like-btn:focus{
  outline:none;
}
.seemore-btn{
    background: var(--hover-menu2-color);
    color:var(--hover-color);
    border:1px solid var(--hover-color);
    font-size: 13px;
    border-radius: 30px;
    opacity: 1;
    transition: 0.3s all; 
    outline:none;
    width:90px; 
    height:25px;  
}
.seemore-btn:hover{
    background: var(--hover-color);
    color:var(--text-sub-color);
    font-size: 13px;
    border-radius: 30px;
    opacity: 1;
    outline:none;
    width:90px; 
    height:25px;     
}
.seemore-btn:focus{
  outline:none;
}
.btnsm{
    text-align: center;
    margin-top: 30px;
}
.product__title{
    color: var(--text-main-color);
    font-size: 16px;
    font-weight:500;
}
.img__content{
    padding:0 8px;
}
.cmt__info{
    padding:0 15px;
}
.cmt__container{
    margin: 10px 0 10px 100px; 
}
.product__content{
    color: var(--text-main-color);
    font-size: 16px;
    padding:0 15px;
}
.product__content2{
   
    padding:15px 15px;
}
.product__content3{
   
    padding:0 15px;
}
.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.icon{
    color:#6F7680;
}
.grid{
    width:1200px;
    max-width:100%;
    margin: 0 auto;
}
.grid__full-width{
    width:100%;
}
.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    text-align: center;
}
.grid__column-12{
    padding-left: 12px;
    padding-right: 12px;
    width:100%;
}
.grid__column-2-4{
    padding-left: 10px;
    padding-right: 10px;
    width:20%;
}
.sub__title{
  display: inline-flex;
  

}
.home-product {
    margin-bottom: 10px;
  }
  .home-product-item {
    display: block;
    position: relative;
    height: 100%;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow:0 9px 10px 0 rgba(214, 214, 214, 0.425);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
  }

  .home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }
  .home-product-item__img {
    height:120px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .home-product-item__name {
    font-size: 16px;
    color: var(--text-main-color);
    margin-top: 115px;
  }
  .home-product-item__price {
    display: flex;
    margin-left: 5px;
    align-items: baseline;
  }
  .home-product-item__price-old {
    font-size: 13px;
    text-decoration: line-through;
    color:var(--text-main-color);
    margin: 10px 0 0 10px;
  }
  .home-product-item__price-current {
    font-size: 20px;
    margin-left: 10px;
    font-weight:450;
    color: var(--price-color);
  }
  .home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
  }
  .home-product-item__like {
    font-size: 13px;
  }
  
  .home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
  }
  
  .home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
  }
  
  i.home-product-item__like-icon-fill {
    color:var(--price-color);
    display:none;
  }
  i.home-product-item__like-icon-empty{
    color:var(--text-main-color);
  }
  
  .home-product-item__rating {
    display: flex;
    align-items:center;
    margin:-1px 5px 0 auto ;
    font-size: 11px;
  }
  .home-product-item__rating2 {
    display: flex;
    align-items:baseline;
    margin:-1px 5px 0 auto ;
    font-size: 11px;
  }
  
  .home-product-item__star--gold {
    color: var(--yellow);
  }
  
  .home-product-item__sold {
    font-size: 13px;
    color: var(--text-main-color);
    margin-left: 5px;
  }
  .home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.92);
    border-top-right-radius: 2px;
  }
  
  .home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.92);
    border-color: transparent currentColor transparent currentColor;
  }
  
  .home-product-item__sale-off-percent {
    color: var(--price-color);
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 2px;
    
  }
  .home-product-item__sale-off-label {
    font-size: 13px;
    position: relative;
    top: -8px;
    font-weight: 600;
    color: var(--text-sub-color);
  }
  
  .home-product__pagination {
    margin: 40px 0 30px 1000px;
    padding-left: 0;
    
  }
  .pagination-item__link{
    color: var(--text-main-color);
    margin-left: 10px;
    font-size: 16px;
  }
  .pagination-item__link:hover{
    color: var(--hover-color);
    margin-left: 10px;
    font-size: 16px;
  }
.product-link:hover{
    text-decoration: none;
  }