body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --text-main-color: #272F40;
    --text-sub-color: white;
    --hover-color: #FF9E8F;
    --hover-text-color: #973aa8; 
    --hover-menu1-color: #FCD3F3;
    --hover-menu2-color: #FFEED9;
    --light-purple: #FFEBFB; 
    --header-with-search-height:50px; 
    --price-color: #F80808;
    --orange: #FF7917;
    --yellow: #FFD43E; 
    }
p{
    color:var(--text-main-color);
    margin:10px 0;
}
.header{
    background-color: white;
    height:170px;    
    box-shadow:0 4px 25px 0 rgba(214, 214, 214, 0.425);  
    position:sticky; 
    z-index: 1;
}

.header__navbar{
    display:flex; 
    justify-content: space-between;  
  
}
.header__navbar1{
    display:flex; 
    justify-content: space-between;  
    height:35px;  
    width:100%; 
    background:#272F40;
    align-items: flex-start; 
}
.header__navbar-icon{
    list-style-type: none;
    display: inline-block;
    margin: 0 7px;
    min-width: 60px;
    position: relative;
}
.header__navbar ul{
    display:flex;  
    list-style-type:none;
}
.header__navbar ul .info{
    font-size: 13px;
    margin: -3px auto 0;
    display: block;
    text-align: center;
    
}
.header__navbar-list{
    list-style:none;
    padding: 0 20px;
}
.header__navbar-item{
    margin: 6px; 
}
.header__navbar-item,
.header__navbar-item-link{
    display:inline-block; 
    font-size: 13px;
    color: var(--text-sub-color);
    text-decoration: none;
}
.header__navbar-item-link:hover {
    color: var(--hover-color) ;
    text-decoration: none;
    cursor:pointer; 
}

.header__navbar-icon-link{
    color:var(--text-sub-color); 
    padding:5px;
}
.header__navbar-icon-link2{
    color:var(--text-main-color); 
    padding:0; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__navbar-icon-link2:hover {
    color: var(--hover-color) ;
    text-decoration: none;
    cursor:pointer; 
}
.header__navbar-icon-link:hover{
    color: var(--hover-color); 
}


.grid{
    width: 1440px;
    max-width:100%;
    margin:0 auto; 
}
.grid2{
    width: 1200px;
    max-width:100%;
    margin:0 auto;    
}
.grid2__full-width{
    width:100%;
}
.grid2__row{

    display:flex;
    flex-wrap: wrap;
}
.grid2__column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.header-with-search{
    height:var(--header-with-search-height);
    display:flex;
    align-items: center;
    margin:20px 0;
    padding: 0 15px;
    
}
.header__search-bar{
    width: 70%;
    height: 35px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 10px;  
    margin: 0 0 0 30px;
 
}
.header__search-bar input{
    background: transparent;
    flex:1;
    border:0;
    outline: none;
    padding: 24px 10px;
    font-size: 13px;
    color: var(--text-main-color) ;
}
.header__search-bar-icon{
    color:var(--text-main-color); 
}
.header__search-bar button {
    border:0;
    border-radius:50%;
    width:30px;
    height:30px;
    background:transparent;
    cursor: pointer;  
}
.header__menu-item{
    position:relative;
}
.header__menu-list{
    list-style:none;
    position:relative;
    display:flex;  
    justify-content: space-between;  
    margin: 10px 20px; 
    padding: 0 10px; 
}
.header__menu-item-link{
    color:var(--text-main-color);
    font-size: 16px;
    display:block;
    font-weight:medium;
    padding:.4em 6px;
}
.header__menu-item-link:hover{
    color:var(--hover-text-color);
    background-color: var(--hover-menu1-color);
    cursor:pointer; 
    text-decoration: none;
     
}
.header__menu-list2{
    position:absolute;
    display:none;
    width:10em;
    background-color: white;
} 
.header__menu-item:hover .header__menu-list2{
    color:var(--text-main-color);
    font-size: 16px;
    display:block;
}
.header__menu-item2{
    list-style-type: none;
}
.header__menu-item-link2{
    color:var(--text-main-color); 
    text-decoration: none;
    display:block;
    padding:.4em 6px;
    
}
.header__menu-item-link2:hover{
    color:var(--hover-color);
    background-color: var(--hover-menu2-color);
    cursor:pointer; 
    text-decoration: none;
}
.footer{
    margin-top: 40px;
    box-shadow:0 -4px 25px 0 rgba(214, 214, 214, 0.425);
}
.footer__logo{
    padding:15px 0 0 0;
}
.footer__heading{
    text-align: left;
    padding: 20px 0 0 0 ;
    color:var(--text-main-color);
}
.footer-list{
    padding-left: 0;
    list-style:none;
}

.footer-item-link{
    text-decoration: none;
    font-size: 16px;
    padding: 2px 0;
    display:block; 
    color:var(--text-main-color);
}
.footer-item-link:hover{
    text-decoration:underline;
    color:var(--text-main-color);
}
.footer__email{
    width: 70%;
    height: 35px;
    border: solid 1px #272F40;
    display: flex;
    align-items: center;
    margin: 15px 0; 
    padding: 10px;  
}
.footer__email input{
    background:transparent;
    border:0;
    outline: none;
    color:var(--text-main-color);
    font-size: 13px;
}
.footer__email-icon{
    color:var(--text-main-color); 
}
.footer__email button {
    border:0;
    outline: none;
    width:30px;
    height:30px;
    background:transparent;
    cursor: pointer;  
}

.footer-icon-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 160px 0px 0px;
    gap: 16px;
    border-radius: 0px;
    list-style: none;
} 
.footer-icon{
    color:var(--text-main-color);
}

.cart-number-badge {
    position: relative;
    border-radius: 2.75rem;
    width: 1%;
   
    padding: 0 0.2rem;
    text-align: center;
    height: 10px;
    border: .125rem solid var(--brand-primary-color,#FF9E8F);
    color: var(--brand-primary-color,#FF9E8F);
    background-color: #FF9E8F;
    left: -1.125rem;
    top: -.5rem;
    margin-right: -10px;
}
.cart-number-badge {
    top: -30px;
    left: 165px;
}
.cart-number-badge span {
    font-size: 8px;
    font-weight: 700;
    color: #fff;
    top:-2.5px;
    left: 0px;
    position: absolute;
}
.fa-bag-shopping:before, .fa-shopping-bag:before {
    content: "\f290";
    width: 20px;
    height: auto;
}


/* Banner slider */
.carousle slide{
    
    height: 32rem;
    position: relative;
    overflow: hidden;
}

/* category */
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    margin: 1rem;
 }
 .services .heading{
    margin: 1.875rem;
 }
 
 .services .box-container .box{
    padding:2rem 1rem;
    text-align: center;
    background: var(--light-purple);
    cursor: pointer;
 }
 
 .services .box-container .box:hover{
    background: var(--hover-menu1-color);
 }
 
 .services .box-container .box img{
    height: 3rem;
 }
 
 .services .box-container .box h5{
    color:--header-with-search-height
    }

    /* product list */
    .product__title{
        color: var(--text-main-color);
        font-size: 16px;
        font-weight:500;
    }
    .img__content{
        padding:0 8px;
    }
    .cmt__info{
        padding:0 15px;
    }
    .cmt__container{
        margin: 10px 0 10px 100px; 
    }
    .product__content{
        color: var(--text-main-color);
        font-size: 16px;
        padding:0 15px;
    }
    .product__content2{
       
        padding:15px 15px;
    }
    .product__content3{
       
        padding:0 15px;
    }
    .row {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }
    .icon{
        color:#6F7680;
    }
    .grid{
        width:1200px;
        max-width:100%;
        margin: 0 auto;
    }
    .grid__full-width{
        width:100%;
    }
    .grid__row{
        display:flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        text-align: center;
    }
    .grid__column-10{
        padding-left: 5px;
        padding-right: 5px;
        width:83.333334%;
    }
    .grid_column-2{

        padding-left: 5px;
        padding-right: 5px;
        width:16.6666666667%;
    }
    .grid__column-2-4{
        margin-top: 30px;
        padding-left: 5px;
        padding-right: 5px;
        width:20%;
        
       
    }
    .sub__title{
      display: inline-flex;
      
    
    }
    .home-product {
        margin-bottom: 10px;
      }
      .home-product-item {
        display: block;
        position: relative;
        height: 100%;
        background-color: var(--white-color);
        border-radius: 2px;
        box-shadow:0 9px 10px 0 rgba(214, 214, 214, 0.425);
        transition: transform linear 0.1s;
        will-change: transform;
        text-decoration: none;
        margin-bottom: 10px;
      }
    
      .home-product-item:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(-2px);
      }
      .home-product-item__img {
        height:120px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
      .home-product-item__name {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--text-main-color);
        line-height: 1.8rem;
        height: 3.6rem;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding: 0px 10px;
        margin-top: 90px;
        -webkit-line-clamp: 2;
        
      }
      .home-product-item__price {
        display: flex;
        margin-left: 5px;
        align-items: baseline;
        flex-wrap: wrap;
      }
      .home-product-item__price-old {
        font-size: 13px;
        text-decoration: line-through;
        color:var(--text-main-color);
        margin: 10px 0 0 10px;
      }
      .home-product-item__price-current {
        font-size: 20px;
        margin-left: 10px;
        font-weight:450;
        color: var(--price-color);
      }
      .home-product-item__action {
        display: flex;
        justify-content: space-between;
        margin: 6px 10px 0;
      }
      .home-product-item__like {
        font-size: 13px;
      }
      
      .home-product-item__like--liked .home-product-item__like-icon-fill {
        display: inline-block;
      }
      
      .home-product-item__like--liked .home-product-item__like-icon-empty {
        display: none;
      }
      
      i.home-product-item__like-icon-fill {
        color:var(--price-color);
        display:none;
      }
      i.home-product-item__like-icon-empty{
        color:var(--text-main-color);
      }
      
      .home-product-item__rating {
        display: flex;
        align-items:center;
        margin:-1px 5px 0 auto ;
        font-size: 11px;
      }
      .home-product-item__rating2 {
        display: flex;
        align-items:baseline;
        margin:-1px 5px 0 auto ;
        font-size: 11px;
      }
      
      .home-product-item__star--gold {
        color: var(--yellow);
      }
      
      .home-product-item__sold {
        font-size: 13px;
        color: var(--text-main-color);
        margin-left: 5px;
      }
      .home-product-item__sale-off {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 36px;
        text-align: center;
        background-color: rgba(255, 216, 64, 0.92);
        border-top-right-radius: 2px;
      }
      
      .home-product-item__sale-off::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -5px;
        border-width: 0 20px 5px;
        border-style: solid;
        color: rgba(255, 216, 64, 0.92);
        border-color: transparent currentColor transparent currentColor;
      }
      
      .home-product-item__sale-off-percent {
        color: var(--price-color);
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 2px;
        
      }
      .home-product-item__sale-off-label {
        font-size: 13px;
        position: relative;
        top: -8px;
        font-weight: 600;
        color: var(--text-sub-color);
      }
      
      .home-product__pagination {
        margin: 40px 0 30px 1000px;
        padding-left: 0;
        
      }
      .pagination-item__link{
        color: var(--text-main-color);
        margin-left: 10px;
        font-size: 16px;
      }
      .pagination-item__link:hover{
        color: var(--hover-color);
        margin-left: 10px;
        font-size: 16px;
      }
    .product-link:hover{
        text-decoration: none;
      }
    .home-filter{
        margin-top: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;}
    .home-filter_all{
        display: flex;
        align-items: center;
    }
    .home-filter__label{
        font-size: 1.6rem;
        color: var(--text-main-color);
        margin-right: 16px;
        margin-left: 40px;
    }
    .btn{
        margin-left: 10px;
        margin-right: 16px;
        min-width: 124px;
        height: 34px;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: var(--hover-menu1-color);
        color: var(--white-color);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1.6rem;
        text-decoration: none;
    }
    
    .filter{
        border-radius: 2px;
        background-color: var(--white-color);
    }
    .filter .filter__heading {
        font-size: 1.6rem;
        color: #272F40;
        padding: 8px 16px;
        border-bottom: 1px solid #E5E5E5;

    }
    .filter .filter__heading .heading-icon{
        font-size: 1.4rem;
        margin-right: 4px;

    }
    .filter-list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .filter-list .filter-item{
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filter-list .filter-item .filter-item__link{
        font-size: 1.2rem;
        color: #272F40;
        text-decoration: none;
    }
    .filter-list .filter-item .filter-item__link:hover{
        color: var(--hover-color);
    }

    .home-filter__page{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 10px;
    }
    .product-list{
        display: grid;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }